Lab3Flows.json
[{"id":"64c9213e.476fd","type":"tab","label":"Lab 3: Compass Heading","disabled":false,"info":""},{"id":"71ec6bb6.8b9304","type":"inject","z":"64c9213e.476fd","name":"Time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".25","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["83f23d1e.a8652","e65a1475.dc7528","ba7b5d61.d1143"]]},{"id":"83f23d1e.a8652","type":"file in","z":"64c9213e.476fd","name":"Voltage","filename":"/tmp/voltage.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":260,"wires":[["cd7effa6.16bf5"]]},{"id":"e65a1475.dc7528","type":"file in","z":"64c9213e.476fd","name":"","filename":"/tmp/heading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":320,"wires":[["3bbdb3eb.63ec0c"]]},{"id":"cd7effa6.16bf5","type":"ui_gauge","z":"64c9213e.476fd","name":"","group":"ad6f4476.ebe3e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},{"id":"3bbdb3eb.63ec0c","type":"ui_gauge","z":"64c9213e.476fd","name":"","group":"c0214c77.76011","order":0,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":320,"wires":[]},{"id":"ba7b5d61.d1143","type":"file in","z":"64c9213e.476fd","name":"","filename":"/tmp/direction.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":400,"wires":[["3f6cd51c.f15bba"]]},{"id":"3f6cd51c.f15bba","type":"ui_text","z":"64c9213e.476fd","group":"c0214c77.76011","order":1,"width":0,"height":0,"name":"","label":"Compass direction ","format":"{{msg.payload}}","layout":"col-center","x":850,"y":380,"wires":[]},{"id":"ad6f4476.ebe3e8","type":"ui_group","name":"Voltage","tab":"aed527b.d5b70d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c0214c77.76011","type":"ui_group","name":"Heading","tab":"aed527b.d5b70d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"aed527b.d5b70d8","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":2,"disabled":false,"hidden":false}]