Node-RED_Flows/flows-1.json
[{"id":"f1eed2a3.9464b","type":"inject","z":"727d7aec.7cde54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["a01c5c58.c6366"]]},{"id":"a01c5c58.c6366","type":"file in","z":"727d7aec.7cde54","name":"voltage","filename":"/tmp/voltage.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":320,"wires":[["2e2b9d50.6ae5f2"]]},{"id":"2e2b9d50.6ae5f2","type":"ui_gauge","z":"727d7aec.7cde54","name":"","group":"16c4877b.c4f7e9","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":320,"wires":[]},{"id":"16c4877b.c4f7e9","type":"ui_group","name":"Voltage Gauge","tab":"f556e53a.b4f978","order":1,"disp":true,"width":"6","collapse":false},{"id":"f556e53a.b4f978","type":"ui_tab","name":"Lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]