Node-RED_Flows/Lab 5 Flows.json
[{"id":"37ec5d97.c7f882","type":"tab","label":"Lab 5 Flow","disabled":false,"info":""},{"id":"5ede190.56658e8","type":"inject","z":"37ec5d97.c7f882","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["bddd7349.682f","197b7343.7dffed","a0d5d009.462ed","3b1398b0.3a36d8","ea38700.6aa539"]]},{"id":"bddd7349.682f","type":"file in","z":"37ec5d97.c7f882","name":"","filename":"/tmp/voltage.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":180,"wires":[["36099720.18c7b8"]]},{"id":"197b7343.7dffed","type":"file in","z":"37ec5d97.c7f882","name":"","filename":"/tmp/xdot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":240,"wires":[["26a58961.cc6496"]]},{"id":"a0d5d009.462ed","type":"file in","z":"37ec5d97.c7f882","name":"","filename":"/tmp/thetadot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":320,"wires":[["4a0c82b5.f71c9c"]]},{"id":"36099720.18c7b8","type":"ui_gauge","z":"37ec5d97.c7f882","name":"","group":"a4ca715e.705d7","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":180,"wires":[]},{"id":"26a58961.cc6496","type":"ui_chart","z":"37ec5d97.c7f882","name":"","group":"c7f7d20b.9772e","order":0,"width":0,"height":0,"label":"X dot (m/s)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":260,"wires":[[]]},{"id":"4a0c82b5.f71c9c","type":"ui_chart","z":"37ec5d97.c7f882","name":"","group":"c7f7d20b.9772e","order":1,"width":0,"height":0,"label":"Theta Dot (rads / s)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":320,"wires":[[]]},{"id":"3b1398b0.3a36d8","type":"file in","z":"37ec5d97.c7f882","name":"","filename":"/tmp/PDL.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":380,"wires":[["c72117e5.5b05b8"]]},{"id":"ea38700.6aa539","type":"file in","z":"37ec5d97.c7f882","name":"","filename":"/tmp/PDR.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":460,"wires":[["9ad1daa7.0b8cb8"]]},{"id":"c72117e5.5b05b8","type":"ui_chart","z":"37ec5d97.c7f882","name":"","group":"27273089.0e1db","order":0,"width":0,"height":0,"label":"PDL (rad/s)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":400,"wires":[[]]},{"id":"9ad1daa7.0b8cb8","type":"ui_chart","z":"37ec5d97.c7f882","name":"","group":"27273089.0e1db","order":1,"width":0,"height":0,"label":"PDR (rad / s)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":460,"wires":[[]]},{"id":"a4ca715e.705d7","type":"ui_group","name":"Voltage Gauge","tab":"361c2007.f285d","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7f7d20b.9772e","type":"ui_group","name":"Movement Charts","tab":"361c2007.f285d","order":2,"disp":true,"width":"6","collapse":false},{"id":"27273089.0e1db","type":"ui_group","name":"Rotation Charts","tab":"361c2007.f285d","order":3,"disp":true,"width":"6","collapse":false},{"id":"361c2007.f285d","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]