Node-RED_Flows/Lab6Flows.json
[{"id":"59253eaf.1f288","type":"tab","label":"Lab 6 Flow","disabled":false,"info":""},{"id":"9b797f64.2a4e4","type":"inject","z":"59253eaf.1f288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":160,"wires":[["8241e039.ae529","c07dbfb2.c9dae","6ca9065d.be48e8","58bcd61f.6fe878","5389e3a7.aede4c"]]},{"id":"8241e039.ae529","type":"file in","z":"59253eaf.1f288","name":"","filename":"/tmp/voltage.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":120,"wires":[["8fd77c46.77503"]]},{"id":"c07dbfb2.c9dae","type":"file in","z":"59253eaf.1f288","name":"","filename":"/tmp/x.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":180,"wires":[["8f6ceed8.965dc"]]},{"id":"6ca9065d.be48e8","type":"file in","z":"59253eaf.1f288","name":"","filename":"/tmp/y.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":260,"wires":[["d8b441b0.46f26"]]},{"id":"8fd77c46.77503","type":"ui_gauge","z":"59253eaf.1f288","name":"","group":"3fc8c1c5.fe10ae","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":120,"wires":[]},{"id":"8f6ceed8.965dc","type":"ui_chart","z":"59253eaf.1f288","name":"","group":"4bb8072e.cd57d8","order":0,"width":0,"height":0,"label":"X distance (m)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":200,"wires":[[]]},{"id":"d8b441b0.46f26","type":"ui_chart","z":"59253eaf.1f288","name":"","group":"4bb8072e.cd57d8","order":1,"width":0,"height":0,"label":"Y distance (m)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":260,"wires":[[]]},{"id":"58bcd61f.6fe878","type":"file in","z":"59253eaf.1f288","name":"","filename":"/tmp/distance.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":320,"wires":[["1132c955.54fe07"]]},{"id":"5389e3a7.aede4c","type":"file in","z":"59253eaf.1f288","name":"","filename":"/tmp/heading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":400,"wires":[["819a0374.d44ac"]]},{"id":"1132c955.54fe07","type":"ui_chart","z":"59253eaf.1f288","name":"","group":"f5302702.8c8758","order":0,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":340,"wires":[[]]},{"id":"819a0374.d44ac","type":"ui_gauge","z":"59253eaf.1f288","name":"","group":"f5302702.8c8758","order":0,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"degrees","format":"{{value}}","min":"-135","max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"3fc8c1c5.fe10ae","type":"ui_group","name":"Voltage Gauge","tab":"918ee0ae.5e24f","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bb8072e.cd57d8","type":"ui_group","name":"Cartesian Coordinates","tab":"918ee0ae.5e24f","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5302702.8c8758","type":"ui_group","name":"Polar Coordinates","tab":"918ee0ae.5e24f","order":3,"disp":true,"width":"6","collapse":false},{"id":"918ee0ae.5e24f","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":6,"disabled":false,"hidden":false}]